.navlist {
    display: flex;
    gap: 15px;
    margin-right: 40px;
    font-size: 20px;
}

.logo {
    margin-left: 40px;
    font-size: 24px;
    color: white;
    font-family: "Press Start 2P", system-ui;
    user-select: none;
}

.navbar {
    display: flex;
    top: 0;
    justify-content: space-between;
    padding: 10px;
    background-color: #1C1F26;
    border-bottom: black solid 1px;
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    z-index: 10;
}

.links {
    color: white;
    text-decoration: none;
    user-select: none;
}

.links:hover {
    color: #00AEEF;
}