body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.page {
    background-color: #0A192F;
    min-height:100vh;
}

.pageCont {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}


