* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%; /* Устанавливаем полную высоту */
    margin: 0; /* Убираем дефолтные отступы */
    padding: 0;
    background-color: #0A192F; /* Фоновый цвет для всего body */
    font-family: Roboto, sans-serif;
}

.page {
    background-color: #0A192F;
    min-height: 100dvh;
    font-family: Roboto;
}

.pageCont {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

