.custom-button {
    margin-top: 25px;
    font-size: 24px;
    width: 55%;
    height: 64px;
    padding-top: 14px;
    border: solid white 2px;
    border-radius: 15px !important;
    text-align: center;
    font-family: Roboto;
}