.input-form label{
    font-size: 20px;
    margin-right: 20px;
}

.input-form textarea {
    font-size: 20px;
    resize: vertical;
    padding: 10px;
    height: 100px;
    width: 500px;
}

.input-form input {
    font-size: 20px;
    width: 50px;
}

.input-form {
    display: flex;
    align-items: center;
    margin-right: 70px;
    margin-top: 40px;
}

.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    margin-top: 40px;
}