.footer {
    height: 219px;
    margin-top: 150px;
    background-color: #1C1F26;
    border-top: black solid 1px; 
    width: 100%;
    bottom: 0;
    z-index: 10;
    padding: 60px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.contacts p{
    font-size: 20px;
}

.contacts :not(:first-child) {
    margin-top: 25px;
}

.icons {
    user-select: none;
    cursor: pointer;
}
.icons :not(:first-child){
    margin-left: 40px;
}
